**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/wwwroot/css/output.css
**/wwwroot/Scripts
**/wwwroot/Content
**/.websharper
**/build
**/.env
**/.env.*
**/*.db
**/*.db-journal
**/data
**/*.log
.git
.github
.dockerignore
Dockerfile
docker-compose.yml
README.md
